
.card
{
    width: 25rem;
    height: 35rem;
    margin-top: 10vmin;
}

.section-4 .card .card-text
{
    padding: 0.5em;
}

.card .card-body h5
{
    font-size: 1.5em;
    margin-bottom: 5rem;
}

.card #dec
{
    font-size: 2rem;
}